* {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 60%;
}

body {
  font-size: 1.7rem;
  line-height: 1.7;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(245, 245, 245);
}

h1 {
  font-size: 2.5rem;
  padding: 15px 20px;
  background-color: rgba(0, 212, 131, 0.6);
  margin-bottom: 20px;
  text-align: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: underline;
  color: inherit; 
}

.container {
  margin: 10% auto;
  width: 90%;
  max-width: 800px;
}

.registro {
  background-color: #fff;
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: 20px;
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.4);
  border-bottom: 10px solid rgba(0, 212, 131, 0.9);
  text-align: center;
}

.cond-input {
  font-size: 1.3rem;
  font-style: italic;
  text-align: left;
  list-style: disc;
  list-style-position: inside;
  max-width: 400px;
  margin: 10px auto;
  color: rgb(150,150,150);
}

.envio-input{
  background-color: rgba(0, 212, 131, 0.6);
  border-radius: 30px;
  width: 50%;
}

/* .cond-input li.invalid {
  color: #e74c3c;
}
.cond-input li.valid {
  color: #2ecc71;
}

.cond-input li.valid:after {
  display: inline-block;
  padding-left: 10px;
  content: "\2713";
} */